*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html{
  font-family: "Poppins" ,sans-serif;
}
.img{
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: url(./img/main-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header-div h1{
  font-family: "Poppins" ,sans-serif;
  font-size: 65px;
  line-height: 80px;
  color: #fff;
}
.header-span{
  background: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  -webkit-background-clip: text;
  color: transparent;
}
.header-div p{
  font-family: "Poppins" ,sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  margin: 100px 0 150px 0;
}

.header-div .submit-btn{
  font-family: "Poppins" ,sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  background: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: auto;
}

/* input from start  */

/* .overlay{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: 1s;
  
}
.showoverlay{
  opacity: 1;
  z-index: 1;
} */

.main-login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18%;
  right: 50%;
  left: 50%;
  margin: auto;

}



 .loginform{
  width: 420px;
  padding: 30px 30px;
  background-color: #12143E;
  /* position: absolute; */
  /* z-index: 9; */
  /* left: 50%;
  top: -200%;
  transform: translate(-50%,-50%) scale(0.5); */
  animation: ani 2.5s linear infinite;
} 

@keyframes ani {
  to{
    transform: rotate( rotate(360deg));
  }
}


/* .setShow{
  top: 52%;
  transform: translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.1,19);

} */







.text-close{
  display: flex;
  justify-content: space-between;
}
.close-btn{
  cursor: pointer;
  font-size: 20px ;
  margin-bottom: 30px;
  background-image: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  -webkit-background-clip: text;
  color: transparent;

}
.loginform span{
  position: absolute;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 35px;
  text-align: center;
  line-height: 30px;
  top: 30px;
  cursor: pointer;
  background-image: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  -webkit-background-clip: text;
  color: transparent;
}


.loginform p{
  font-size: 20px ;
  margin-bottom: 30px;
  background-image: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  -webkit-background-clip: text;
  color: transparent;

}







label{
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 3px;
}
input[type=text],input[type=password]{
  all: unset;
  width: 310px;
  height: 38px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #212355;
  box-sizing: border-box;
  
}


input[type=text]{
  margin-bottom: 15px;
}

input[type=submit]{
  background: linear-gradient(97.34deg, #9B5EFF 0%, #EF775D 102.87%);
  color: #ffffff;
  font-size: 14px;
  width: 317px;
  height: 44px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}
input[type=submit]:hover{
  background: linear-gradient(97.34deg, #EF775D 0%, #9B5EFF 102.87%);  
}









.password{
  display: inline-block;
  background: linear-gradient(97.34deg, #9B5EFF 50%, #EF775D 50%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 12px;
  text-align: end;
  width: 100%;
  margin: -10px;
  margin-top: 14px;
  cursor: pointer;
}
form {
  padding: 20px;
}



